[master]
{% for config in cluster_data.config %}
{% for ip in config.masters %}
{{ ip }}
{% endfor %}
{% endfor %}

[node]
{% for config in cluster_data.config %}
{% for ip in config.agents %}
{{ ip }}
{% endfor %}
{% endfor %}

[k3s_cluster:children]
master
node